{% extends "common/layout_main.html" %}
{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">日统计</span>
                        <h5>平台交易</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ order['today-trading-amount'] }}</h1>
                        <small>近30日：{{ order['30-trading-amount'] }}</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">日统计</span>
                        <h5>订单</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ order['today-trading-volume'] }}</h1>
                        <small>近30日：{{ order['30-trading-volume'] }}</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">日统计</span>
                        <h5>服务</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ service['today-service-volume'] }}</h1>
                        <small>等待审核：{{ service['pending-review-volume'] }}</small>&nbsp;
                        <small>近30日：{{ service['30-service-volume'] }}</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">日统计</span>
                        <h5>会员</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ member['today-member-volume'] }}</h1>
                        <small>近30日新增：{{ member['30-member-volume'] }}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {# 订单折线图#}
            <div class="col-lg-9">
                <div id="order" style="width: 100%;height:350px;"></div>
            </div>
            {# 服务饼图#}
            <div class="col-lg-3">
                <div id="service-type" style="width: 90%;height:350px;"></div>
            </div>


        </div>
        <div class="row">
            {# 服务饼图#}
            <div class="col-lg-6">
                <div id="service-nature" style="width: 90%;height:400px;"></div>
            </div>
            {# 订单状态#}
            <div class="col-lg-6">
                <div id="order-status" style="width: 90%;height:400px;"></div>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="{{ buildStaticUrl('/plugins/echarts/echarts.min.js') }}"></script>
    <script src="{{ buildStaticUrl('/js/index/index.js') }}"></script>
{% endblock %}